// Fork from rk3588-firefly-aio-3588q-edp_NV156FHM-T06.dts

/dts-v1/;

#include "rk3588-firefly-aio-3588q.dtsi"
#include "rk3588-firefly-aio-cam-8ms1m.dtsi"
#include "rk3588-firefly-aio-cam-imx415.dtsi"
#include "rk3588-firefly-aio-cam-2ms2mf.dtsi"
#include "rk3588-firefly-demo.dtsi"
#include "rk3588-firefly-aio-3588q-edp_NV156FHM-T06.dtsi"

/ {
	model = "Neuroflag Hermione RK3588 (Linux)";
	compatible = "rockchip,rk3588-neuroflag-hermione", "rockchip,rk3588";
};

// Enable NVMe, Disable SATA
// See rk3588-firefly-aio-3588q.dtsi

&sata0 {
	status = "disabled";
};

&pcie2x1l2 {
	reset-gpios = <&pca9555 PCA_IO1_6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_sata_pwr_en>;
	status = "okay";
};
